body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

section{
    display:flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    font-size: 40px;
    font-weight:300;  

}

#output{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

.btn {
    flex-basis: calc(25% - 10px);
    margin: 3px;
    font-size: 30px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.light,
.light:focus {
    background-color: grey;
}
.light:hover {
    background-color: rgb(160, 178, 201);
}

.blue,
.blue:focus {
    background-color: rgb(6, 110, 215);
}
.blue:hover {
    background-color: rgb(81, 139, 245);
}

.dark,
.dark:focus {
    background-color: rgb(59, 58, 58);
}
.dark:hover {
    background-color: rgb(98, 100, 102);
}




